*{

    /*this section is for all */
    margin: 0px;
    font-family: 'Roboto', sans-serif;
    .btn
    {
        padding: 5px 10px;
        border: 0px;
        background-color: rgb(229,84,115);
        color: white;
        border-radius: 5px;
    }

    .banner-container
    {
        display: flex;
        justify-content: space-around;
        height: 550px;
        align-items: center;
        background-color: rgb(252,238,241);
        
    }
    .banner-img
    {
        width: 400px;
        
    }
    .title
    {
        font-size: 50px;
    }
    
    .highlight
    {
        color: rgb(229,84,115))
    }
    .body-img
    {
       width: 250x; 
    }
